.page-body {
  border: 1px solid rosybrown;
  margin: 2%;
  padding: 2%;
}
.center-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  row-gap: 20px;

  align-items: center;
  justify-content: center;
}

.heading-margin {
  margin: 2% 2%;
}

.heading-color {
  color: #1976d2;
}

.input-width {
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .input-width {
    width: 100%;
  }
}
