.page-body {
  border: 1px solid rosybrown;
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
}

.main-row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  column-gap: 5px;

  align-items: flex-start;
}
.center-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  row-gap: 20px;

  align-items: center;
  justify-content: center;
}

.list-view {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-content: space-between;

  /* align-items: center;
  justify-content: center; */
}

.heading-margin {
  margin: 2% 10%;
}

.letters-title {
  font-weight: 500;
  font-size: large;
  margin-top: 5%;
}

.heading-title {
  font-size: xx-large;
  color: #1976d2;
  text-align: center;
  font-weight: 500;
}

.input-width {
  width: 80%;
}

.head-img-div {
  object-fit: cover;
  margin: 2% 0%;
}
.head-img {
  border-radius: 5px;
  opacity: 0.7;
}

.overflow-letters {
  height: 78vh;
  overflow-y: auto;
}

.isWebView {
  display: flex;
}

isMobView {
  display: none;
}

@media only screen and (max-width: 600px) {
  .main-row {
    flex-direction: column;
    row-gap: 5px;
  }

  .center-container {
    width: 100%;
  }
  .list-view {
    width: 100%;
  }

  .overflow-letters {
    overflow-y: unset;
    height: unset;
  }

  .heading-margin {
    margin: 2% 2%;
  }
  .input-width {
    width: 100%;
  }

  .isWebView {
    display: none;
  }

  isMobView {
    display: flex;
  }
}
